<div class="navber navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand header-site-title" href="#">JP sightseeing news</a>
    </div>
  </div>
</div><!-- /nav -->

<div class="container">
  <div id="main" class="clearfix">





  <ul>
    <% @articles.each do |article| %>
    
        <li><a href = <%= article.link %>><%= article.title %></a></li>
      
      
    <% end %>
  
  </div><!-- /main -->
</div> <!-- /container -->

<br>



