<p id="notice"><%= notice %></p>

<h1>JP sightseeing news</h1>



  <ul>
    <% @articles.each do |article| %>
    
        <li><a href = <%= article.link %>><%= article.title %></a></li>
      
      
    <% end %>
  


<br>



