*= require_self
*= require common
*= require smart_phone/layouts
*= require smart_phone/videos


# assets/stylesheets/smart_phone/application.css
= require jquery_mobile


#header{
	color:red;
	top: 0;
    	left: 0;
    	z-index: 5;
    	width: 100%;
    	height: 44px;
    	background: rgba(255,255,255,.96);
    	border-bottom: 1px solid #e7e7e7;
    	-webkit-transform: translate3d(0px,0,0);
    	transform: translate3d(0px,0,0);
	
}
