<!DOCTYPE html>
<html>
<head>
  <title>JAPAN SOKUHO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- バナー広告 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-9765950708728570"
     data-ad-slot="7220258642"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<%= yield %>

</body>
</html>
